@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#241023;
    --cor-secundaria:#f9e6fc;
    --cor-tercearia:#FFBF00;
    --cor-hover:#B7569A;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding:2% 0% 0% 15%; 
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

strong{
    color: var(--cor-tercearia);
}

.titulo-destaquE{
    color: var(--cor-tercearia);
}

h1{
    font-weight: bold;
}

span{
    color:var(--cor-tercearia);
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
}

img{
    border-radius: 8px;
    width: 400px;
    height: 500px;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* 1 rem = 16 -- 36/16*/
    font-family:var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size:  1.5rem;
    font-family:var(--fonte-secundaria);
}

.apresentacao__conteudo__listas{
    font-family:var(--fonte-secundaria);
    font-size:  1.5rem;
    font-weight: 400;
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto_link{
    text-decoration: none;
    color: var(--cor-tercearia);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links_subtexto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content:center;
    gap:16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px; 
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
}

.img_link{
    border-radius: 1px;
    width: 30px;
    height: 30px;
}

.img_central{
    border-radius: 60px;
    width: 80% 5%;
    height: 700px;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__imagem{
    border-radius: 60px;
    width: 80% 5%;
}

.rodape{
    padding: 24px;
    color:var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;   
}

@media(max-width: 1072px){
     .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
   
}